<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hitqz.disinfectionrobot"
    tools:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 申请电源锁需要的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--android 9.0之后使用前台服务，需要添加权限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".DisinfectRobotApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.DisinfectionRobot">
        <meta-data
            android:name="design_width_in_dp"
            android:value="540" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="960" />

        <service
            android:name=".net.ws.JWebSocketClientService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".net.ws.JWebSocketClientService$GrayInnerService"
            android:enabled="true"
            android:exported="false"
            android:process=":gray" />

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BuildMapActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.ViewDirectionsActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.DeploymentRouteActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.DisinfectRegularlyActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.StartDisinfectActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.ManualControlActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.SetDisinfectAreaActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.ToggleMapActivity"
            android:screenOrientation="portrait"
            android:exported="true">

        </activity>

        <activity
            android:name=".activity.EditMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
    </application>

</manifest>